* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  font-family: Roboto;
  height: 100%;
  width: 100%;
}
.container {
  max-width: 1150px; /*увеличиваем ширину контента на 30, т.к. сделали паддинги по 15*/
  margin: 0 auto;
  padding: 0 15px;
}
.background {
  background-color: rgba(242, 206, 218, 0.3);
  min-width: 100%;
}
.btn {
  border: 0;
  font-family: "Hind Madurai";
  font-weight: 500;
  line-height: 1.4;
  color: #fafafa;
  padding: 14px 50px;
  border-radius: 5px;
  background-color: #d23166;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.btn:hover {
  background-color: #ca6989;
}
.first-page .btn {
  font-weight: 700;
}
/*---------------------------------1 page--------------------------------*/
.header {
  display: flex;
  height: 99px;
  align-items: center;
}
.menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  font-size: 14px;
  line-height: 1.2;
}
.menu li {
  margin: 0 20px;
}
.menu_item {
  color: rgba(21, 1, 1, 0.6);
  transition: color 0.3s ease 0s;
}
.menu_item:hover {
  color: #d23166;
  font-weight: 700;
}
.main-page {
  height: 763px;
  display: flex;
}
.first-page_content {
  width: 59%;
  padding: 186px 0 212px 0;
}
.slogan {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 6px 0;
}
h1 {
  font-family: "Fredoka One";
  font-size: 57px;
  line-height: 120.5%;
  color: rgba(15, 1, 1, 0.9);
}
h1 span {
  color: rgba(210, 49, 102, 0.9);
}
.first-page_text {
  max-width: 530px;
  font-size: 18px;
  line-height: 1.5;
  color: rgba(15, 1, 1, 0.6);
  margin: 35px 0 50px 0;
}
.first-page_image {
  width: 41%;
  position: relative;
}
.circle {
  width: 365px;
  height: 365px;
  background-color: rgba(242, 206, 218, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 300px;
  left: 96px;
}
.ice-cream_main-page {
  position: absolute;
  z-index: 1;
}
.milk_main-page {
  position: absolute;
  z-index: 2;
  top: 130px;
  left: -150px;
}
/*---------------------------------2 page--------------------------------*/
.second-page {
  display: flex;
  align-items: center;
  height: 400px;
}
.benefit {
  width: 25%;
  padding: 0 27px;
}
.img_benefit {
  display: block;
  margin: 0 auto;
}
.benefit h2 {
  font-family: "Hind Madurai";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin: 23px 0 9px 0;
}
.second-page_text {
  font-family: "Hind Madurai";
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.4;
  text-align: center;
}
/*---------------------------------3 page--------------------------------*/
.third-page {
  display: flex;
  align-items: center;
  height: 545px;
}
.third-page_content {
  width: 40;
}
.third-page_content h2 {
  font-family: "Hind Madurai";
  font-weight: 600;
  font-size: 44px;
  line-height: 1.1;
  color: #150101;
}
.third-page_text {
  line-height: 1.5;
  color: rgba(21, 1, 1, 0.6);
  margin: 16px 0 28px 0;
}
.third-page_image {
  width: 60%;
}
/*---------------------------------4 page--------------------------------*/
.fourth-page {
  height: 2346px;
}
.fourth-page_title {
  text-align: center;
  font-family: "Hind Madurai";
  font-weight: 600;
  font-size: 44px;
  line-height: 1.4;
  color: #150101;
  margin: 138px 0 0 0;
}
.product-menu {
  display: flex;
  justify-content: center;
  margin: 64px 0 50px 0;
}
.product-menu li {
  margin: 0 20px;
}
.product-menu_item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.6);
}
.fourth-page_container {
  display: flex;
  margin: 17px 0;
}
.left-side {
  width: 52%;
}
.fourth-page_content {
  margin: 60px 0 121px 87px;
}
.right-side {
  width: 48%;
}
.fourth-page_content h2 {
  font-family: "Hind Madurai";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
}
.fourth-page_text {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
  margin: 11px 0 28px 0;
}
.price {
  font-family: "Hind Madurai";
  font-weight: 500;
  font-size: 26px;
  line-height: 1.4;
  margin: 0 0 10px 0;
}
.price span {
  font-size: 20px;
  text-decoration-line: line-through;
}
.content_text-right {
  margin: 60px 84px 121px 52px;
  text-align: right;
}
.last-container {
  margin: 112px 0;
}
